body {
  /* 基本背景色 */
  background-color: #212121;
  /* 基本文字色 */
  color: #c8c8c8;
  /* 基本フォント */
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
  width: 98%;
}
a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 90vw;
  margin: auto;
}

/* ----- ロゴ色 ----- */
/* Facebook */
#facebook {
  color: #ffffff;
  background-color: #3b5998;
}
/* GitHub */
#github {
  color: #24292f;
  box-shadow: 0px 0px 2px #24292f;
}
/* Instagram */
#instagram {
  color: #ffffff;
  background: linear-gradient(135deg, #ffdb2c 0%, #427eff 20%, #f13f79 70%)
    no-repeat;
}
/* note */
#note {
  color: #ffffff;
  background-color: #000000;
}
/* Qiita */
#qiita {
  color: #55c500;
  background-color: #303232;
}
/* Zenn */
#zenn {
  color: #111;
  box-shadow: 0px 0px 2px #3ea8ff;
}
/* ----------------- */

.main__card {
  box-shadow: 0px 0px 20px #b8b8b8;
}

/* フッター */
.footer {
  font-family: "DotGothic16", sans-serif;
  text-align: center;
  margin: 10px;
}

/* スマホ */
@media screen and (max-width: 767px) {
  /* ヘッダー */
  .header {
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #212121;
    position: fixed;
    top: 0;
  }
  .header__text {
    width: 90%;
    font-weight: 700;
    border-radius: 10px;
    margin: 7.5px auto;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    box-shadow: 0px 0px 10px #c8c8c8;
  }

  main {
    margin-top: 75px;
  }

  /* プロフィール */
  .main__card {
    width: 90vw;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .main__profile--name {
    font-size: 1.2rem;
    font-weight: 700;
    color: #212121;
    text-align: center;
    padding: 0px 0px 10px 0px;
  }
  .main__profile--introduction {
    width: 90%;
    margin: -10px auto 20px auto;
    color: #212121;
    font-weight: 400;
  }
  .main__profile--image {
    text-align: center;
    padding: 10px 0px;
  }
  .main__profile--image img {
    width: 90%;
    height: auto;
    border-radius: 10px 5px 10px 5px;
    box-shadow: 0px 0px 5px #212121;
  }

  /* プロフィール リンク */
  .main__profile--links {
    padding: 0px 0px 10px 0px;
  }
  /* プロフィール ボタン */
  .profile__links--div {
    width: 80%;
    margin: 10px auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 3px;
  }
}

/* PC */
@media screen and (min-width: 768px) {
  /* ヘッダー */
  .header {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #212121;
    position: fixed;
    top: 0;
  }
  .header__text {
    width: 60%;
    font-weight: 700;
    margin: 27.5px auto;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    position: relative;
    display: inline-block;
    padding: 0px;
  }
  .header__text:before,
  .header__text:after {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 28%;
    height: 10px;
    border-top: solid 3px #64b5f6;
    border-bottom: solid 3px #64b5f6;
  }
  .header__text:before {
    left: 0;
  }
  .header__text:after {
    right: 0;
  }

  main {
    margin-top: 120px;
  }

  /* プロフィール */
  .main__card {
    width: 75vw;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
  }
  /* プロフィール写真 */
  .main__profile--image {
    text-align: center;
    padding: 10px 0px;
    width: 50%;
    position: relative;
  }
  .main__profile--image img {
    width: 40%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #212121;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .main__profile--text {
    width: 50%;
  }

  /* プロフィール説明文 */
  .main__profile--description {
    width: 100%;
  }
  /* プロフィール 名前 */
  .main__profile--name {
    font-size: 2rem;
    font-weight: 700;
    color: #212121;
    text-align: center;
  }
  .main__profile--introduction {
    color: #212121;
    font-weight: 400;
    width: 80%;
    margin: -10px auto 20px auto;
  }

  /* プロフィール リンク */
  .main__profile--links {
  }
  /* プロフィール ボタン */
  .profile__links--div {
    width: 80%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    margin: 10px auto;
    border-radius: 5px;
  }
}

/* CSSアニメーション */
.fade {
    opacity: 0;
    animation: fade 0.2s ease forwards;
}
@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% {  opacity: 1;}
}

.main__profile--name {animation-delay: 0.4s;}
.main__profile--introduction {animation-delay: 0.8s;}
.facebook {animation-delay: 1.2s;}
.github {animation-delay: 1.6s;}
.instagram {animation-delay: 2s;}
.note {animation-delay: 2.4s;}
.qiita {animation-delay: 2.8s;}
.zenn {animation-delay: 3.2s;}