@charset "utf-8";

@font-face {
	font-family: M_PLUS_1p;
	src: url('../font/M_PLUS_1p/MPLUS1p-Regular.ttf') format("truetype");
}

body {
	font-family: 'M_PLUS_1p';
	width: 90%;
	height: auto;
	margin: auto;
}

body a {
	text-decoration: none;
}

i {
	color: #212529;
}

#profile, footer {
	text-align: center;
}

#profile {
	margin: 20px;
}


#profile-image img {
	width: 300px;
	height: auto;
	border-radius: 20px;
	box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
}

#name p {
	margin-top: -25px;
}

.profile-link i{
	width: 40px;
	height: auto;
	margin: 5px -5px 5px 5px;
}

.profile-link p {
	margin: 2px;
}

#skills-icon1 i ,#skills-icon2 i {
	font-size: 40px;
	padding: 5px;
}

#certified {
	margin: auto;
}

#certified h3 {
	text-align: center;
}