@charset "utf-8";

@media (max-width: 600px) {
    #profile {
        font-size: 1.1rem;
    }
    
    #profile-image img {
        width: 200px;
    }
}

@media (min-width: 601px) {
    #profile {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    #profile-text, #profile-image {
        padding: 20px;
    }

    #profile-image img {
        width: 400px;
    }

    /*TODO: リンクを左揃えにする*/
    .profile-link p {
        text-align: left !important;
    }
}
