.vsc-initialized {
  background-color: white;
}

/* ダークモード */
@media (prefers-color-scheme: dark) {
  .vsc-initialized {
    background-color: black;
  }
  
  footer {
    color: white;
  }
  footer a {
    color: white;
  }

  #app {
    color: white;
  }
}